.btn {
  margin: 5px 10px 5px 10px;
}

#promocode {
  margin: 5px 10px 5px 10px;
}

#search {
  margin: 5px 10px 5px 10px;
}

#departments {
  margin: 5px 10px 5px 10px;
}

#clear {
  margin: 5px 10px 5px 10px;
}